<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ShaloTrackApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsTrackLanka">

        <!-- අලුතින් හදපු AlertsActivity එක මෙතනට එකතු කළා -->
        <activity
            android:name=".ui.main.AlertsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- අලුතින් හදපු CirclesActivity එක -->
        <activity
            android:name=".ui.main.CirclesActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- අලුතින් හදපු TagsActivity එක -->
        <activity
            android:name=".ui.main.TagsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".ui.vehicles.VehiclesActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- දැන් App එක ලෝඩ් වෙන්නේ මෙන්න මේ HomeActivity (Dashboard) එකෙනුයි -->
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.ProcessingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.EmailInputActivity"
            android:launchMode="singleTask"
            android:exported="false" />

        <activity
            android:name=".ui.main.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".ui.auth.OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- Splash Activity එකෙන් LAUNCHER එක අයින් කළා -->
        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCEcm2yd65eBw5aUJI0akiXkwySTBS_LE" />
    </application>

</manifest>